.root {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 50px;
  color: #fff;
  background: linear-gradient(90deg, #5041b2, #7969e6);
}

.title {
  margin-left: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}