.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 250ms ease 50ms;
}

.link {
  padding: 10px;
  color: #363D54;
  transition: background-color 150ms ease;

  &:hover {
    background-color: rgba(lightgrey, .5);
  }

  &.active {
    font-weight: 500;
    background-color: rgba(lightgrey, .75);
  }
}

.show {
  transform: translate3d(0, 0, 0);
}