.root {
  position: relative;
  display: flex;
  flex-direction: column;
}

.link {
  padding: 11px 16px;
  color: #363D54;
  transition: background-color 150ms ease;

  &:hover {
    background-color: rgba(lightgrey, .5);
  }

  &.active {
    font-weight: 500;
    background-color: rgba(lightgrey, .75);
  }
}