.root {
  padding: 20px;
  border: 2px solid currentColor;
  border-radius: 6px;
}

.question {
  display: flex;
  justify-content: space-between;
  font-size: 1.125em;
  font-weight: 600;

  & > small {
    padding-left: 15px;
    flex-shrink: 0;
  }
}

