.root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform: translate3d(-100%, 0, 0);
    transition: transform 250ms ease 50ms;
  }

  &.show {
    pointer-events: auto;

    &:before {
      transform: translate3d(0, 0, 0);
    }
  }
}