.root {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 125ms;
  transition-timing-function: ease;

  &:hover {
    background-color: rgba(#fff, .2);
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &.success {

    &, &:hover {
      background-color: rgba(green, .5);
    }
  }

  &.error {

    &, &:hover {
      background-color: rgba(red, .5);
    }
  }
}